/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.gradesUL {
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  margin-left: 2vw;
  min-height: 80vh;
  margin-right: 2vw;
  width: 100vw;
  padding-left: 0;
}

.gradesUL li {
  margin-bottom: 10px;
}

.gradesUL li > h2 {
  width: 60vw;
  padding-right: 2vw;
}

.gradesUL li > button {
  width: 20vw;
}

.gradesUL li button {
  float: right;
  font-size: 3vh;
  min-height: 5vh;
  height: 100%;
  width: 30vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.gradesUL li > h3 {
  width: 20vw;
}

.gradesUL li h3 {
  float: right;
  font-size: 3vh;
  min-height: 5vh;
  height: 100%;
  width: 30vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeContent ion-button {
  height: 20vh;
  width: 85vw;
  padding-top: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#homeContent h1 {
  font-size: 8vh;
}

#homeContent {
  width: 100vw;
  min-height: 90vh;
  text-align: center;
}

#loginContent {
  text-align: center;
  margin-top: 25vh;
}

#loginContent h1 {
  font-size: 6vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

:root {
  #loginContent ion-input {
    width: 70vw;
    margin: 2.5vh 15vw;
    border: 1px solid #ccc;
    box-sizing: border-box
  }
}

ion-refresher ion-refresher-content {
  --color: #3880ff !important;

  .refresher-pulling-text, .refresher-refreshing-text, .refresher-refreshing-icon, .refresher-pulling-icon {
    color: #3880ff !important;
  }
}

.currentUser {
  cursor: pointer;
  font-size: 2.5vh;
  color: #3087b3;
  text-decoration: underline;
  float: right;
  margin-bottom: 10px;
  margin-right: 5vw;
}

.currentUser:hover {
  text-decoration: none;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
}