<ion-content>
    <div id="homeContent">
        <h1>
            PBHS Helper
        </h1>
        <ion-button (click)="gotoGrades()" size="small">
            Grades
        </ion-button>
        <br>
        <ion-button (click)="gotoCalendar()" size="small">
            Calendar
        </ion-button>
        <br>
        <ion-button (click)="gotoVC()" size="small">
            Counselor
        </ion-button>
    </div>
    <a (click)="signOut()" class="currentUser" id="currentUserHO">
        <b>Sign Out: 06########</b>
    </a>
</ion-content>
